<h3>with drag and drop via ng2-dragula</h3>
<div class="row p-0 m-2">
  <div class="card m-2 p-0 col-sm-2">
    <div class="card-header bg-primary text-white">container id="c1"</div>
    <div class="card-body p-1" id="c1" dragula="DRAGULA_GROUP1">
      <div id="p1">element of id=p1</div>
      <div id="p2">element of id=p2</div>
      <div id="p3">element of id=p3</div>
    </div>
  </div>
  <div class="card m-2 p-0 col-sm-2">
    <div class="card-header bg-primary text-white">container id="c2"</div>
    <div class="card-body p-1" id="c2" dragula="DRAGULA_GROUP1">
      <div id="p4">element of id=p4</div>
      <div id="p5">element of id=p5</div>
      <div id="p6">element of id=p6</div>
    </div>
  </div>
  <div class="card m-2 p-0 col-sm-7">
    <div class="card-header bg-primary text-white">dragula events for group with name=DRAGULA_GROUP1</div>
    <div class="card-body p-1">
      {{dragEventDetailMessage}}
      <hr/>
      <!-- {{dropEventDetailMessage}} -->
      <span [innerHTML]="dropEventDetailMessage"></span>
      <hr/>
      <a href="https://github.com/bevacqua/dragula#readme">dragula documentation on GitHub</a>
    </div>
  </div>
</div>
<hr/>
  <div class="row p-0 m-2">
    <div class="card m-2 p-0 col-sm-2">
      <div class="card-header bg-primary text-white">available</div>
      <div class="card-body p-1" id="container-available" dragula="DRAGULA_GROUP2">
        <div *ngFor="let item of availableItems" 
          class="card m-1 p-0" id="{{item.name}}">
          <div class="card-header bg-primary text-white">{{item.name}}</div>
          <div class="card-body p-0"><img class="card-img-top" src="assets/images/{{item.imageName}}"></div>
        </div>
      </div>
    </div>
    <div class="card m-2 p-0 col-sm-2 ">
      <div class="card-header bg-primary text-white">selected</div>
      <div class="card-body p-1" id="container-selected" dragula="DRAGULA_GROUP2">
        <div *ngFor="let item of selectedItems" 
          class="card m-1 p-0" id="{{item.name}}">
          <div class="card-header bg-primary text-white">{{item.name}}</div>
          <div class="card-body p-0"><img class="card-img-top" src="assets/images/{{item.imageName}}"></div>
        </div>
      </div>
    </div>
    <div class="card m-2 p-0 col-sm-7 ">
      <div class="card-header bg-primary text-white">state (before or after drag and drop)</div>
      <div class="card-body p-1">
        <table class="table-bordered table-striped m-1">
          <thead>
            <tr><th>available</th><th>selected</th></tr>
          </thead>
          <tbody>
            <tr><td>{{availableItems | json}}</td><td>{{selectedItems | json}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <div class="row p-0 m-2">
                
    </div>   <!--end of row -->
