<h2>login-out</h2>
<hr/>
<div *ngIf="userSessionEx.isConnected()">
   <h3 class="connected">you are connected</h3>
   <p *ngIf="userSessionEx.userId && userSessionEx.userId != '' && userSessionEx.userId != '?'">userId: <span >{{userSessionEx.userId}}</span></p>
   <p>userName: <span class="highlight">{{userSessionEx.userName}}</span></p>
   <p *ngIf="userSessionEx.userRoles.length >0" >userRoles: <span class="highlight">{{userSessionEx.userRoles.join(',')}}</span></p>
   <p *ngIf="userSessionEx.authToken">authToken: <span>{{userSessionEx.authToken}}</span></p>
   <p *ngIf="userSessionEx.userDetails">details: <span>{{userSessionEx.userDetails}}</span></p>
   <p><button (click)="onLogout()">logout</button></p>
</div>

<div *ngIf="!userSessionEx.isConnected()" class="m-1">
    <h3 class="disconnected">you are not yet connected</h3>
    <form #formLogin="ngForm">
        <div class="flexRowWrap">
            <label class="f-align">username:</label>
            <div class="f-align">
                <input  name="username" class="f-max-size  mb-1" [(ngModel)]="login.username" required />
            </div>
        </div>
        <div class="flexRowWrap">
            <label class="f-align">password:</label>
            <div class="f-align">
                <input  name="password" class="f-max-size  mb-1" [(ngModel)]="login.password"  />
            </div>
        </div>
        <div class="flexRowWrap">
            <label class="f-align">roles:</label>
            <div class="f-align">
                <input  name="roles" class="f-max-size  mb-1" [(ngModel)]="login.roles"  />
            </div>
        </div>
        <div class="flexRowWrap">
            <label class="f-align"></label>
            <div class="f-align">
              <button [disabled]="!formLogin.form.valid" (click)="onLogin()">login</button>
            </div>
        </div>
    </form>
  
</div>
<!--
<hr/>
<p>userSession: {{userSessionEx | json}}</p>
-->